.bookLogsPageDiv{
    width: 80%;
    margin: auto;
  
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      background-color: $light-green;
      color: $darker-green;
  
      h2 {
        text-transform: uppercase;
      }
    }
  }
  
  .bookDetailsDiv {
      display: flex;
      align-items: flex-start;
    }
  
    .bookLogImg {
      width: 150px;
      height: auto;
      margin: 10px;
    }
  
    .bookInfo {
      margin: 10px;
    }