@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;200;300;400;500;600;700;800;900&display=swap');

$handwriting-font: Grape Nuts;
$font: Noto Serif;
$cream: #F2F1EB;
$darker-cream: #EEE7DA;
$white: white;
$black: black;
$dark-grey: #242526;
$grey: #aaa;
$light-green: #AFC8AD;
$darker-green: #4c6e52;
$yellow: rgb(255, 255, 0);